@{
    ViewData["Title"] = "Home Page";
}
<header style="display:none">
    <h1>Welcome to Le GALEAZZA!</h1>
</header>
<main>
    <img src="~/img/GalleasHero.jpg" alt="Le GALEAZZA" class="heroImage">
    <div class="landingBtns">
        <button onclick="location.href='@Url.Action("LoginReg", "Admin")'">PLAY</button>

        <!-- <button onclick="location.href='@Url.Action("Index","Home")'">Game Menu</button> -->
    </div>
</main>
