@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/loginreg.css">
<header>
    <h1>Le GALEAZZA</h1>
</header>
<main>
    <div id="loginreg">
        <div id="registration">
            <h2>Register</h2>
            <partial name="RegPartial"></partial>
        </div>
        <div id="login">
            <h2>Login</h2>
            <partial name="LoginPartial"></partial>
        </div>

    </div>
</main>