@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h1>GALLEASS</h1>
</header>
<main>
    <div id="registration">
        <h2>Register</h2>
        <partial name="RegPartial"></partial>
    </div>
    <div id="login">
        <h2>Login</h2>
        <partial name="LoginPartial"></partial>
    </div>
</main>