<button id="menuBtn" onclick="openGameMenu()">=</button>

<div id="gameMenu">
    <a href="/Ship">Ship Details</a>
    <a href="/Ship">Ship Details</a>
</div>

<canvas>
    Your browser does not support HTML5 Canvas.
</canvas>

<!-- <svg id="dircontrols">
  <polygon points="200,10 250,190 160,210" style="fill:white;stroke:black;stroke-width:2" />


</svg> -->

    <!-- <div>North</div>
    <div>NorthWest</div>
    <div>SouthWest</div>
    <div>South</div>
    <div>SouthEast</div>
    <div>NorthEast</div> -->

<script src="~/js/WorldDraw/world.js"></script>