@using Microsoft.AspNetCore.Http
@model Player
@{
    int wealth = (int)@Context.Session.GetInt32("Wealth");
}

<link rel="stylesheet" href="~/css/game.css">
<button id="menuBtn" onclick="openGameMenu()">=</button>

<h5 class="wealth">Your current wealth: @wealth</h5>

<div id="gameMenu">
    <a href="/Ship">Ship Details</a>
    <a href="/logout">Log Out</a>
    <span style="display:none" id="xCoord">@Model.GridSquare.xCoord</span>
    <span style="display:none" id="yCoord">@Model.GridSquare.yCoord</span>

</div>

<a href="/Port/" id="anchorLink">
    <img src="~/img/anchor.png" alt="drop anchor" id="anchor">
</a>

<div id="dircontrols">
    <button id="north" onclick="movePlayer('north')">North</button>
    <button id="northeast" onclick="movePlayer('northeast')">NorthEast</button>
    <button id="northwest" onclick="movePlayer('northwest')">NorthWest</button>
    <button id="south" onclick="movePlayer('south')">South</button>
    <button id="southwest" onclick="movePlayer('southwest')">SouthWest</button>
    <button id="southeast" onclick="movePlayer('southeast')">SouthEast</button>
    <!-- <img src="~/img/ship.png" id="ship"> -->
</div>

<canvas>
    Your browser does not support HTML5 Canvas.
</canvas>

<script src="~/js/WorldDraw/world.js"></script>
<script src="~/js/WorldDraw/game.js"></script>