#dircontrols {
    position: fixed;
    z-index: 2;
    top: 37.5%;
    left: 37.5%;
    width: 25%;
    height: 25%;
}
#north, #northeast, #northwest, #south, #southwest, #southeast {
    position: absolute;
    width: 30%;
}
#north {
    top: -11%; left:35%;
}
#northeast{
    top:17%; right: 11%; transform: rotate(60deg);
}
#northwest{
    top:17%; left:11%;transform: rotate(-60deg);
}
#southwest{
    bottom: 15%; left:11%;transform: rotate(60deg);
}
#southeast{
    bottom: 15%; right:11%; transform: rotate(-60deg);
}
#south{
    bottom: -11%; left: 35%;
}

#ship{
    position: fixed;
    top:50%;
    left:50%;
}

#anchor {
    position: fixed;
    max-width: 10%;
    bottom:3%;
    left:3%;
}

#anchorLink{
    display: none;
}

/* game world elements */

#menuBtn{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 200%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    z-index: 3;
}

#gameMenu {
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.468);
    z-index: 1;
    transition: 0.5s;
    width: 0;
    height: 100%;
    padding-top: 80px;
}

#gameMenu *{
    display: block;
    text-align: right;
    font-size: 200%;
}

