#dircontrols{
    top: 37.5%;
    left: 37.5%;
    width: 25%;
    height: 25%;
}
#north, #northeast, #northwest, #south, #southwest, #southeast {
    position: absolute;
    width: 30%;
}
#north {
    top: 0%; left:35%;
}
#northeast{
    top:23%; right: 5%; transform: rotate(60deg);
}
#northwest{
    top:23%; left:5%;transform: rotate(-60deg);
}
#southwest{
    bottom: 23%; left:5%;transform: rotate(60deg);
}
#southeast{
    bottom: 23%; right:5%; transform: rotate(-60deg);
}
#south{
    bottom: 0; left: 35%;
}

#ship{
    position: fixed;
    top:50%;
    left:50%;
}
