#dircontrols{
    top: 37.5%;
    left: 37.5%;
    width: 25%;
    height: 25%;
}
#north, #northeast, #northwest, #south, #southwest, #southeast {
    position: absolute;
    width: 30%;
}
#north {
    top: -11%; left:35%;
}
#northeast{
    top:17%; right: 11%; transform: rotate(60deg);
}
#northwest{
    top:17%; left:11%;transform: rotate(-60deg);
}
#southwest{
    bottom: 15%; left:11%;transform: rotate(60deg);
}
#southeast{
    bottom: 15%; right:11%; transform: rotate(-60deg);
}
#south{
    bottom: -11%; left: 35%;
}

#ship{
    position: fixed;
    top:50%;
    left:50%;
}

#anchor {
    position: fixed;
    max-width: 5%;;
}
