#shipDetailsWrapper{
    text-align: center;
    /* height: 50%; */
}
#shipDetailsWrapper img{
    max-height: 500px;
}
#shipDetailsWrapper div{
    position: absolute;
    text-align: left;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.906);
    border: black 1px solid;
    border-radius: 10px;
}

#shipDetailsWrapper div p, #shipDetailsWrapper div h4{
    color: black;
    font-size: 150%;
}
#shipDetailsWrapper .heroImage{
    /* width: 80%; */
    position: absolute;
    max-height: 90%;
    top:2%;
    left: 47%;
}
#shipDetailsWrapper div:nth-child(2){
    top:15%;
    left: 39%;
}
#shipDetailsWrapper div:nth-child(3){
    top:43%;
    left: 38%;
}

#shipDetailsWrapper div:nth-child(2), #shipDetailsWrapper div:nth-child(3){
    padding:20px;
}
