/* universal element stylings */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    color:white;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.heroImage{
    width: 100%;
}

h1, h2{
    font-size: 300%;
    text-align: center;
    padding:20px;
}

button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    color:white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 10px 24px -2px #0a2e54;
}

button:hover{
    background-color: #0a2e54;
}
button:focus {outline:0;}

/* to migrate to separate files */

/* game world elements */

#menuBtn{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 200%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    z-index: 3;
}

#gameMenu {
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.468);
    z-index: 1;
    transition: 0.5s;
    width: 0;
    height: 100%;
    padding-top: 80px;
}

#gameMenu *{
    display: block;
    text-align: right;
}

#dircontrols {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0%;
    left:0%;
    z-index: 2;
}
/* admin elements */
#adminHeader{
    width: 100%;
    text-align: center;
    padding: 1%;
}

#adminAside{
    width: 20%;
    display: inline-block;
    border: 2px solid black;
    margin: 1%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: navy;
    max-height: 900px;
    overflow-y: scroll;
}
.aside{
    background-color: rgb(177, 125, 28);
}
#adminAside input{
    font-size: 100%;
    padding: 2%;
    background-color: lightskyblue;
}
#adminAside input.submit{
    margin: 2% auto;
    background-color: gold;
}
#db{
    width: 90%;
    margin: 1% auto;
    border: 5px solid brown;
}
#db div{
    width: 45%;
    display: inline-block;
    border: 1px solid black;
    font-size: 125%;
    margin:  .5% 2% .5% 2.5%;
}
table{
    width: 100%;
}
#db div table th, #db div table td{
    border: 1px solid black;
    padding: 1%;
}
#db div table th{
    background-color: grey;
    
}
#adminMain{
    width: 60%;
    display: inline-block;
    margin: 1%;
    background-image:url("../img/admin-map.jpg");
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.aside{
    border: 1px solid black;
    width: 90%;
    margin: 1% auto 1% auto;
    padding: 2%;
    font-size: 170%;
}
